.title {
  position: absolute;
  top: 50%;
  margin-left: 50%;
}
.title span {
  color: #fff;
  font-size: xx-large;
  font-family: 'Coolvetica';
  animation: 3.5s steps(40, end), blink-claret 0.75s step infinite;
  overflow: hidden;
  white-space: no-wrap;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .title {
    position: relative;
    width: 100%;
    height: 100%;
    top: 30%;
    overflow: visible;
  }
  .title span {
   display: none;
}
}
