.title {
  position: absolute;
  top: 30%;
  margin-left: 50%;;
}
.title span {
  color: #fff;
  font-weight: 400;
  margin-left: 50%;
  font-size: large;
  background: linear-gradient(from right #0e1630 to #ffa900);
  font-family: 'Coolvetica';
}
