html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #fff;
  background: #0e1630;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px; 
}
::-webkit-scrollbar {
  width: 10px;
  background: #0e1630;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #ffa100;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
